
ex/spinner.bbnotebookd/bw.bbprojectsettings
ex/spinner.bbnotebookd/Notes/DD26EADF-BBB1-449D-A15E-1893E762E17E.md
ex/spinner.bbnotebookd/NotesMetadata/DD26EADF-BBB1-449D-A15E-1893E762E17E.plist
ex/spinner.bbnotebookd/project.bbprojectdata
js_misc_2024-05-15.bbaiworksheet
